.studio-pin {
    position: fixed;
    width: 30px;
    height: 30px;
    left: -30px / 2;
    top: -30px / 2;
    border: 3px solid #f44336;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: #3f51b5;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
}

.studio-pin:hover {
    background-color: rgb(146, 204, 255);
}